@use '@angular/material' as mat;
@use './app/themes/_theme-colors' as theme-colors;


$compact-theme: mat.define-theme(
  (
    density: (
      scale: -2
    )
  )
);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  @include mat.theme((color: 
    (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include mat.form-field-density($compact-theme);
}

