<footer class="footer">
  <p>
    &copy; 2025
    <a 
      href="https://www.linkedin.com/in/klenissonribeiro/" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Klênisson Ribeiro
    </a>,
    <a 
      href="https://www.linkedin.com/in/" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Antonio Jorge
    </a>,
    <a 
      href="https://www.linkedin.com/in/" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Lucas Evangelista
    </a>,
    <a 
      href="https://www.linkedin.com/in/" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Thaynner
    </a>. Todos os direitos reservados.
  </p>
</footer>
