<auth-page>
  <div class="form-container">
    <h2>Recuperação de senha</h2>

    @if(getIsRequestPasswordRecoveryStep()){
    <form
      class="login-form"
      [formGroup]="requestPasswordRecoveryForm"
      (ngSubmit)="onSubmitRequestPasswordRecovery()"
    >
      <div class="login-form-inputs">
        <app-input
          [formControl]="getRequestPasswordFormFormControl('email')"
          [inputType]="'email'"
          [inputId]="'email'"
          [inputPlaceholder]="'Informe seu email'"
          [label]="'Email'"
        >
        </app-input>

        <div class="bottom-form">
          <button
            type="submit"
            [disabled]="!requestPasswordRecoveryForm.valid || isLoading"
            mat-flat-button
            type="submit"
          >
            @if(isLoading){
            <mat-spinner color="#FFFFFF" diameter="24"></mat-spinner>
            } @else{ Cadastrar }
          </button>
          <p>Já possui conta? <a routerLink="/login">Entre</a></p>
        </div>
      </div>
    </form>
    } @else{

    <form
      class="login-form"
      [formGroup]="confirmationCodeForm"
      (ngSubmit)="onSubmitChangePassword()"
    >
      <div class="login-form-inputs">
        <app-input
          [formControl]="getConfirmationCodeFormFormControl('code')"
          [inputType]="'number'"
          [inputId]="'code'"
          [inputPlaceholder]="'Informe seu código de confirmação'"
          [label]="'Código de confirmação'"
        >
        </app-input>

        <app-input
          [formControl]="getConfirmationCodeFormFormControl('password')"
          [inputType]="'password'"
          [inputId]="'password'"
          [inputPlaceholder]="'Informe sua nova senha'"
          [label]="'Nova senha'"
        >
        </app-input>

        <app-input
          [formControl]="getConfirmationCodeFormFormControl('confirmPassword')"
          [inputType]="'number'"
          [inputId]="'confirmPassword'"
          [inputPlaceholder]="'Confirmação de nova senha'"
          [label]="'Confirmação de senha'"
        >
        </app-input>

        <div class="bottom-form">
          <button
            type="submit"
            [disabled]="!confirmationCodeForm.valid || isLoading"
            mat-flat-button
            type="submit"
          >
            @if(isLoading){
            <mat-spinner color="#FFFFFF" diameter="24"></mat-spinner>
            } @else{ Cadastrar }
          </button>
          <p>Já possui conta? <a routerLink="/login">Entre</a></p>
        </div>
      </div>
    </form>

    }
  </div>
</auth-page>
