<app-page>
    <main>
        @if(isLoading){
            <div class="loading-container">
                <app-loading-indicator></app-loading-indicator>
            </div>
        } @else{

            <h1>
                <span class="text-primary">Most-loved watches</span>
            </h1>
            <div class="product-grid">
                @for (watch of mostViewedWaches; track watch.id) {
                <app-product-card [product]="watch"></app-product-card>
                }
            </div>
        }
    </main>
</app-page>