@use '@angular/material' as mat;

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.drawer-container {
  height: 100%;
  background-color: #fff;
}

.drawer-content-container {
  width: 30rem;
}