<nav class="navbar" [ngClass]="{'bottom-margin': fixedElementsMarginActive}">
  <a class="navbar__logo" routerLink="/">Chronovault</a>
  
  <a class="navbar__button" (click)="clickProfile()">
    <mat-icon class="material-icons">person</mat-icon>
  </a>  

  <button class="navbar__button" (click)="openCartDrawer()" aria-label="Carrinho">
    <mat-icon class="material-icons">shopping_cart</mat-icon>
  </button>

  @if(showLogoutButton) {
    <button class="navbar__button" (click)="logout()" aria-label="Logout">
      <mat-icon class="material-icons">logout</mat-icon>
    </button>
  }
</nav>