.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  padding: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.empty-cart-message {
  text-align: center;
}