<auth-page>
  <div class="content-container">
    <h2>Crie sua conta</h2>

    <mat-stepper #stepper linear class="stepper">
      <mat-step
        [stepControl]="userInfoForm"
        errorMessage="Dados inicias inválidos"
      >
        <ng-template matStepLabel>Dados pessoais</ng-template>

        <form class="form" [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
          <div class="form-inputs">
            <app-input
              [formControl]="getFormControl('name')"
              [inputType]="'text'"
              [inputId]="'name'"
              [inputPlaceholder]="'Informe seu nome'"
              [label]="'Nome'"
            >
            </app-input>

            <app-input
              [formControl]="getFormControl('email')"
              [inputType]="'email'"
              [inputId]="'email'"
              [inputPlaceholder]="'Informe seu email'"
              [label]="'Email'"
            >
            </app-input>

            <app-input
              [formControl]="getFormControl('password')"
              [inputType]="'password'"
              [inputId]="'password'"
              [inputPlaceholder]="'Informe seu password'"
              [label]="'Senha'"
            >
            </app-input>

            <app-input
              [formControl]="getFormControl('confirmPassword')"
              [inputType]="'text'"
              [inputId]="'confirmPassword'"
              [inputPlaceholder]="'Confirme sua senha'"
              [label]="'Confirmação de senha'"
            >
            </app-input>

            <div class="bottom-form">
              <button
                type="submit"
                [disabled]="!userInfoForm.valid || isLoading"
                mat-flat-button
                type="submit"
              >
                @if(isLoading){
                <mat-spinner color="#FFFFFF" diameter="24"></mat-spinner>
                } @else{ Cadastrar }
              </button>
              <p>Já possui conta? <a routerLink="/login">Entre</a></p>
            </div>
          </div>
        </form>
      </mat-step>

            <mat-step
        [stepControl]="addressForm"
        errorMessage="Dados inicias inválidos"
      >
        <ng-template matStepLabel>Endereço</ng-template>

        <form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
          <div class="form-inputs">
            <app-input
              [formControl]="getFormControl('zipCode')"
              [inputType]="'text'"
              [inputId]="'CEP'"
              [inputPlaceholder]="'Informe o CEP'"
              [label]="'CEP'"
              [mask]="getZipCodeMask()"
            >
            </app-input>

            <app-select
              [formControl]="getFormControl('state')"
              [selectId]="'state'"
              [selectPlaceholder]="'Informe o estado'"
              [options]="stateOptions"
              [label]="'Selecione seu estado'"
            >
            </app-select>

            <app-input
              [formControl]="getFormControl('city')"
              [inputType]="'text'"
              [inputId]="'city'"
              [inputPlaceholder]="'Informe a cidade'"
              [label]="'Cidade'"
            >
            </app-input>

            <app-input
              [formControl]="getFormControl('neighborhood')"
              [inputType]="'text'"
              [inputId]="'neighborhood'"
              [inputPlaceholder]="'Informe o bairro'"
              [label]="'Bairro'"
            >
            </app-input>

            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <app-input
                [formControl]="getFormControl('street')"
                style="width: 48%"
                [inputType]="'text'"
                [inputId]="'street'"
                [inputPlaceholder]="'Informe a rua'"
                [label]="'Rua'"
              >
              </app-input>

              <app-input
                [formControl]="getFormControl('number')"
                style="width: 48%"
                [inputType]="'text'"
                [inputId]="'number'"
                [inputPlaceholder]="'Informe o número'"
                [label]="'Número'"
              >
              </app-input>
            </div>

            <app-input
              [formControl]="getFormControl('complement')"
              [inputType]="'text'"
              [inputId]="'complement'"
              [inputPlaceholder]="'Informe o complemento'"
              [label]="'Complemento'"
            >
            </app-input>

            <a routerLink="/forgot-password" id="recover-password"
              >Esqueci minha senha</a
            >

            <div class="bottom-form">
              <button
                type="submit"
                [disabled]="!addressForm.valid || isLoading"
                mat-flat-button
                type="submit"
              >
                @if(isLoading){
                <mat-spinner color="#FFFFFF" diameter="24"></mat-spinner>
                } @else{ Entrar }
              </button>
              <p>
                Não tem uma conta? <a routerLink="/register">Cadastrar-se</a>
              </p>
            </div>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </div>
</auth-page>
