<div class="product-card" (click)="onProductClick()">
  <div class="product-image-container">
    <img [src]="product.imagesUrls[productImgIndex]" alt="Product image" 
      class="product-image" />

    <div class="image-navigation">
      <button (click)="previousImage()" clickStopPropagation><mat-icon class="material-icons">keyboard_arrow_left</mat-icon></button>
      <button (click)="nextImage()" clickStopPropagation><mat-icon class="material-icons">keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <div class="product-info-wrapper">
    <div class="product-info">
      <p class="product-model">{{ product.model }}</p>
      <p class="product-brand">{{ product.brand }}</p>
      <p class="product-price">{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</p>
    </div>
    <button class="add-to-cart-btn" (click)="clickCartButton()" clickStopPropagation><mat-icon class="material-icons">{{ isInCart() ? 'remove_shopping_cart' : 'add_shopping_cart' }}</mat-icon></button>
  </div>
</div>